{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <meta charset="UTF-8">
        <title>TurkishGrammarCorrection</title>
    </head>

    <body>
        <div id="wrapper">
            <h1>Türkçe Gramer Düzenleyici</h1>
            <p> Bu uygulama ile 'de/da' ve 'ki' bağlacı, soru eki yazımızı kontrol edin!</p>
             <a id="link-to-form" href="{% url 'form' %}">Başlayın!</a>
            <!--    <a href="form">Go to</a>-->
        </div>
    </body>


</html>