#wrapper{
    /*background-color: #0f121f;*/
    background-image: linear-gradient(to bottom left, rgba(30, 13, 13, 0.67), rgba(145, 127, 23, 0.62)),
        url('/static/img/paper.jpg');
    background-size: cover;
    opacity: 100%;
    /*background: linear-gradient(to bottom left, rgb(97, 29, 155), rgb(20, 0, 145));*/
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    left: 0;
    top: 0;

}