#wrapper{
    /*background-color: #0f121f;*/
    background-image: linear-gradient(to bottom left, rgba(0, 3, 216, 0.32), rgba(106, 13, 32, 0.62)),
        url('/static/img/gym.jpg');
    background-size: cover;
    opacity: 100%;
    /*background: linear-gradient(to bottom left, rgb(97, 29, 155), rgb(20, 0, 145));*/
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    left: 0;
    top: 0;

}

body{
    font-family: "Gill Sans MT";
    color: darkslateblue;
    text-align: center;
}

h1{
    font-size: 5em;
    text-align: center;
    font-weight: 600;
    /*font-family: 'Montserrat Alternates', sans-serif;*/
    font-family: "Gill Sans MT";
    text-shadow: 4px 4px #ff0000;
    color: mintcream;
    width: 70%;
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
h3{
    font-size: 2em;
    text-align: center;
    font-weight: 600;
    /*font-family: 'Montserrat Alternates', sans-serif;*/
    font-family: "Gill Sans MT";
    text-shadow: 4px 4px #ff0000;
    color: mintcream;
    width: 70%;
    position: absolute;
    top: 10px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



a, a:hover, a:visited{
    font-size: 2em;
    font-weight: 500;
    font-family: "Gill Sans MT";
    color: #fff;
    display: inline-block;
    position: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    bottom: 30px;
}

p {
    font-size: 1.5em;
    font-weight: 500;
    font-family: "Gill Sans MT";
    color: #fff;
}