{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
        <meta charset="UTF-8">
        <title>TurkishGrammarCorrection</title>
</head>
<body>
  <div id="form-wrapper">

      <form class="form" id="paper" action="/form/submit" method="post">
          {% csrf_token %}


          <textarea placeholder="Buraya yazın..." id="input_text" name="in_text" rows="10" cols="50" style="overflow: hidden; word-wrap: break-word; resize: none; height: 160px; "> {{ input_text }} </textarea>
          <textarea placeholder="" id="output_text" name="out_text" rows="10" cols="50" style="overflow: hidden; word-wrap: break-word; resize: none; height: 160px; "  readonly> {{ input_text }} </textarea>
        <br>
          <input id="button" type="submit" value="Düzenle">

      </form>

  </div>
</body>
</html>